<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <ul>
        <li>Country: <%= country %>(<%= countryCode %>)</li>
        <li>Region: <%= regionName %></li>
        <li>City: <%= cityName %></li>
        <li>Zip Code: <%= zipCode %></li>
        <li>Timezone: <%= timezone %></li>
        <li>Longitude: <%= lon %></li>
        <li>Latitude: <%= lat %></li>
        <li>Internet Service Provider: <%= isp %></li>
        <li>Organization: <%= organization %></li>
        <li>Automous System Number: <%= as %></li>
    </ul>
</body>
</html>